# Copy this file to .env and add your credentials
GOOGLE_API_KEY=AIzaSyCJSu1UTXMCudzUYG0-4o8Dkh1G-JJo7TM
VIDEOSDK_AUTH_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlrZXkiOiJmMjQ0NjE0Yi0xZWY1LTQ2N2UtYjNlYS1kMDcyZTU4NzU5ZGYiLCJwZXJtaXNzaW9ucyI6WyJhbGxvd19qb2luIl0sImlhdCI6MTc3NTM4NDQwNSwiZXhwIjoxNzgzMTYwNDA1fQ.Ft0ilkW8Ut9bIA4cx-W3VFztfdD52ScPpnQCpYbqUQU
VIDEOSDK_GATEWAY_ID=c4c6c9e1-dacc-4a02-bc3c-7425e2161177
PHONE_NUMBER_TO_CALL=+919063598032
